<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343325951427-or72df25mic7p6slr09d1sov9sb24h4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343325951427-or72df25mic7p6slr09d1sov9sb24h4s</string>
	<key>API_KEY</key>
	<string>AIzaSyD_cM7fYZQ5uNAGS3BTQbWqblQIOtej2J8</string>
	<key>GCM_SENDER_ID</key>
	<string>343325951427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.gistory.ziggle</string>
	<key>PROJECT_ID</key>
	<string>gsainfoteam-ziggle</string>
	<key>STORAGE_BUCKET</key>
	<string>gsainfoteam-ziggle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343325951427:ios:630d75333b29826ee6e976</string>
</dict>
</plist>