name: build test ios

on:
  pull_request:
    branches:
      - main
      - development
    paths:
      - 'ios/**'
      - 'lib/**'
      - 'pubspec.yaml'
      - 'pubspec.lock'

jobs:
  build-and-test:
    name: Build iOS App and Test
    runs-on: macos-latest
    concurrency:
      group: ios-test-${{ github.event.pull_request.number }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0-0.2.pre'
          channel: 'beta'
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
          cache-path: '${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:'

      - name: Run fastlane
        run: |
          bundle install
          bundle exec fastlane test
        working-directory: ./ios
