name: build test (android, iOS)

on:
  pull_request:
    branches:
      - main
      - development

jobs:
  check-test-required:
    name: Check if test is required
    runs-on: ubuntu-latest
    outputs:
      android-changed: ${{ steps.android-changed-files.outputs.any_changed }}
      ios-changed: ${{ steps.ios-changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Changed Files (android)
        uses: tj-actions/changed-files@v37.5.0
        id: android-changed-files
        with:
          files: |
            pubspec.yaml
            pubspec.lock
            android/**
            lib/**

      - name: Changed Files (iOS)
        uses: tj-actions/changed-files@v37.5.0
        id: ios-changed-files
        with:
          files: |
            pubspec.yaml
            pubspec.lock
            ios/**
            lib/**

  build-and-test:
    name: Build ${{ matrix.os }} App and Test
    needs: check-test-required
    strategy:
      fail-fast: false
      matrix:
        build-os: [ubuntu-latest, macos-13]
        include:
          - build-os: ubuntu-latest
            os: Android
          - build-os: macos-13
            os: iOS
    runs-on: ${{ matrix.build-os }}
    concurrency:
      group: ${{ matrix.os }}-test-${{ github.event.pull_request.number }}
      cancel-in-progress: true
    steps:
      - name: setup env
        run: |
          echo "run=${{
              matrix.os == 'Android' && needs.check-test-required.outputs.android-changed == 'true' ||
              matrix.os == 'iOS' && needs.check-test-required.outputs.ios-changed == 'true'
            }}" >> $GITHUB_ENV
          echo "directory=$(echo ${{ matrix.os }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
      - uses: actions/checkout@v3
        if: env.run == 'true'
      - uses: subosito/flutter-action@v2
        if: env.run == 'true'
        with:
          flutter-version: '3.16.5'
          channel: 'stable'
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
          cache-path: '${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:'
      - uses: actions/cache@v3
        if: env.run == 'true'
        with:
          path: ${{ runner.tool_cache }}/.pub-cache
          key: ${{ runner.os }}-pub-cache-${{ hashFiles('pubspec.lock') }}
      - uses: actions/cache@v3
        if: env.run == 'true'
        with:
          path: |
            .dart_tool
            !.dart_tool/**/*.snapshot
          key: ${{ runner.os }}-dart-tool-${{ hashFiles('pubspec.lock') }}

      - uses: ruby/setup-ruby@v1
        if: env.run == 'true'
        with:
          ruby-version: '3.2.0'
          bundler-cache: true
          working-directory: ${{ env.directory }}

      - name: Generate files
        if: env.run == 'true'
        run: |
          dart run slang
          dart run build_runner build --delete-conflicting-outputs
      - name: Run fastlane
        if: env.run == 'true'
        run: bundle exec fastlane test
        working-directory: ${{ env.directory }}
